#container {
   width: 1000px;
   margin: 20px auto;
}

h1 {
   text-align: center;
}

.prod-list {
   list-style: none;
   padding: 0;
}

.prod-list li {
   float: left;
   padding: 0;
   margin: 10px;
   position: relative;
   overflow: hidden;
}
.prod-list img {
   width: 300px;
   margin: 0;
   padding: 0;
   float: left;
}
.prod-list .caption {
   position: absolute; /* relative를 가진 li 요소를 기준으로 위치를 잡는다 */
   top: 200px; /* overflow:hidden으로 인해 보이지 않는다 */
   width: 300px; /* 이미지 태그의 width와 동일 -> caption안의 글자가 이미지랑 같은 영역안에 보인다 */
   height: 200px; /* li 요소의 height와 똑같이 맞춰준다 */

   padding-top: 20px;
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 0.5; /* 투명도 0~1 까지 */
}

.prod-list li:hover .caption {
   opacity: 1; /* hover시 100% */
   transform: translateY(-200px); /* 200px 위로 이동 */
   transition: all 0.6s ease-in-out; /* 0.6초 동안 opacity, transform 이동시 ease-in-out */
}
.prod-list li:not(:hover) .caption {
   opacity: 1; /* hover시 100% */
   transform: translateY(200px); /* 200px 아래로 이동 */
   transition: all 0.6s ease-in-out; /* 0.6초 동안 opacity, transform 이동시 ease-in-out */
}
.prod-list .caption h2,
.prod-list .caption p {
   color: #fff;
   text-align: center;
}
