/* 초기화 CSS */

* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
}

ul,
li {
   list-style: none;
}

a {
   text-decoration: none;
   /* inherit : 부모의 값을 그대로 상속받는다 */
   color: inherit;
}

/* 공통 - 버튼 */
.bt_wrap {
   margin-top: 30px;
}

.bt_list {
   text-align: right;
}

.bt_wrap a {
   /* width, height, margin 적용을 위해 */
   display: inline-block;
   margin-left: 10px;
   min-width: 80px;
   padding: 10px;
   border: 1px solid #000;
   border-radius: 2px;
   font-size: 1.4rem;
   text-align: center;
}

.bt_wrap a:hover {
   text-decoration: underline;
}

/* index.html */
.wrap {
   width: 1000px;
   margin: 0 auto;
}
.board_list {
   width: 100%;
   border-top: 1px solid #444;
   border-collapse: collapse;
   font-size: 1.5rem;
}
.board_list caption {
   padding: 30px;
}
.board_list th,
.board_list td {
   border-bottom: 1px solid #444;
   padding: 10px;
   text-align: center;
}
.board_list td.title > a:hover {
   text-decoration: underline;
}

.board_page {
   margin-top: 30px;
   text-align: center;
   /* 하위 요소들을 한꺼번에 정렬하기 위해 사용 */
   display: flex;
   justify-content: center; /* 가운데 정렬 */
}

.board_page a {
   /* a태그 내부의 텍스트를 가운데 정렬하기 위해 사용
    board page 안에 적용해도 a태그는 자식태그 이기 때문에 영향을 받는다 */
   text-align: center;
   display: inline-block;
   width: 32px;
   height: 32px;
   /* border + padding + content 모두 더해서 크기 지정을 받겠다 */
   box-sizing: border-box;
   line-height: 32px;
}

.board_page a:hover {
   text-decoration: underline;
}

.board_page a.bt {
   font-size: 1.2rem;
   letter-spacing: -3px;
}

.board_page a.num {
   font-size: 1.4rem;
}
.board_page a.num.on {
   border-color: #000;
   background: #000;
   color: #fff;
}
