* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#contents {
   position: relative;
   width: 800px;
   height: 500px;
   margin: 0 auto;
   background-color: skyblue;
}
h1 {
   color: #fff;
   font-size: 110px;
   text-shadow: 1px 3px 2px black;
   position: absolute;
   bottom: 130px;
   right: 100px;
}
